<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking System</title>
  <link rel="stylesheet" href="/js/meeting.css"> <!-- link to your CSS file -->
</head>

<body>
  <h1>Booking System</h1>
  <table id="time-slots-table">
    <tbody id="time-slots-tbody">
      <!-- Time slots will be rendered here -->
    </tbody>
  </table>


  <div id="booking-form-container" style="display: none;">
    <form id="booking-form">
      <label for="name"><strong>Name:</strong></label>
      <input type="text" id="name" name="name" required><br><br>
      <label for="email"><strong>Email:</strong></label>
      <input type="email" id="email" name="email" required><br><br>
      <input type="hidden" id="selected-time-slot" name="selectedTimeSlot">
      <input type="submit" value="Book">
    </form>
  </div>
  <div id="booked-time-slots-container">
    <h2>Booked Time Slots</h2>
    <table id="booked-time-slots-table">
      <tbody id="booked-time-slots-tbody">
        <!-- Booked time slots will be rendered here -->
      </tbody>
    </table>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      fetch('/time-slots')
        .then(response => response.json())
        .then(timeSlots => {
          const timeSlotsContainer = document.getElementById('time-slots-tbody');
          // const availableTimeSlots = timeSlots.filter(timeSlot => timeSlot.availableSlots > 0 && timeSlot.availableSlots <= 4);
          timeSlots.forEach(timeSlot => {
            const timeSlotElement = document.createElement('tr');
            const timeTd = document.createElement('td');
            const timeDiv = document.createElement('div');
            timeDiv.textContent = timeSlot.time;
            timeDiv.setAttribute('style', 'font-size: 24px; font-weight: bold;'); // Add styles to the time
            const availableSlotsLink = document.createElement('a');
            availableSlotsLink.textContent = `${timeSlot.availableSlots} slots available`;
            availableSlotsLink.className = 'available-slot-link';
            timeTd.appendChild(timeDiv);
            timeTd.appendChild(availableSlotsLink);
            timeSlotElement.appendChild(timeTd);
            availableSlotsLink.addEventListener('click', () => {
              // Show the booking form when a time slot is clicked
              document.getElementById('booking-form-container').style.display = 'block';
              // Set the selected time slot value
              document.getElementById('selected-time-slot').value = timeSlot.time;
            });
            timeSlotsContainer.appendChild(timeSlotElement);
          });
        })
        .catch(error => {
          console.error('Time-slots not accessible or not found',error);
        });

      //        fetch('/api/time-slots')
      // .then(response => response.json())
      // .then(timeSlots => {
      //    const availableTimeSlots = timeSlots.filter(timeSlot => timeSlot.availableSlots > 0 && timeSlot.availableSlots <= 4);
      //    renderTimeSlots(availableTimeSlots);
      //  });

      // Fetch booked time slots from database
      fetch('/api/get-booked-time-slots')
        .then(response => response.json())
        .then(bookedTimeSlots => {
          bookedTimeSlots.forEach(bookedTimeSlot => {
            displayBookedTimeSlot(bookedTimeSlot);
          });
        })
        .catch(error => {
          console.error(error);
        });
    });

    function renderTimeSlots(availableTimeSlots) {
      const timeSlotContainer = document.getElementById('time-slots-tbody');
      timeSlotContainer.innerHTML = '';
      availableTimeSlots.forEach(timeSlot => {
        const timeSlotElement = document.createElement('tr');
        const timeTd = document.createElement('td');
        const timeDiv = document.createElement('div');
        timeDiv.textContent = timeSlot.time;
        timeDiv.setAttribute('style', 'font-size: 24px; font-weight: bold;'); // Add styles to the time
        const availableSlotsLink = document.createElement('a');
        availableSlotsLink.textContent = `${timeSlot.availableSlots} slots available`;
        availableSlotsLink.className = 'available-slot-link';
        timeTd.appendChild(timeDiv);
        timeTd.appendChild(availableSlotsLink);
        timeSlotElement.appendChild(timeTd);
        availableSlotsLink.addEventListener('click', () => {
          // Show the booking form when a time slot is clicked
          document.getElementById('booking-form-container').style.display = 'block';
          // Set the selected time slot value
          document.getElementById('selected-time-slot').value = timeSlot.time;
        });
        timeSlotContainer.appendChild(timeSlotElement);
      });
    }

    function generateMeetLink() {
      const meetLink = `https://meet.google.com/${Math.floor(Math.random() * 100000000)}`;
      return meetLink;
    }

    function updateAvailableSlots(time, increment) {
      fetch(`/api/update/${time}`, {
        method: 'PUT',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ increment }),
      })
        .then(response => response.json())
        .then(data => {
          console.log(data);
          // Refetch the available time slots to update the UI
          fetch('/time-slots')
            .then(response => response.json())
            .then(timeSlots => {
              const availableTimeSlots = timeSlots.filter(timeSlot => timeSlot.availableSlots > 0 && timeSlot.availableSlots <= 4);
              renderTimeSlots(availableTimeSlots);
            });
        })
        .catch(error => console.error(error));
    }

    // Add the handleSubmit function
    function handleSubmit(event) {
      event.preventDefault();
      const formData = new FormData(event.target);
      const name = formData.get('name');
      const email = formData.get('email');
      const selectedTimeSlot = formData.get('selectedTimeSlot');

      // Generate a random Google Meet link
      const timeOnly = moment(selectedTimeSlot, 'HH:mm').format('HH:mm');
      const meetLink = generateMeetLink();

      // Send the data to the server
      fetch('/api/book-time-slot', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ name, email, time: timeOnly, meetLink }),
      })
        .then(response => response.json())
        .then(data => {
          updateAvailableSlots(selectedTimeSlot, -1);
          displayBookedTimeSlot({ name, email, time: timeOnly, meetLink: generateMeetLink() });
          document.getElementById('booking-form-container').style.display = 'none'; // Hide the form
          document.getElementById('booked-time-slots-container').style.display = 'block'; // Show the booked time slots

        })
        .catch(error => console.error(error));
    }

    // Display the booked time slot
    function displayBookedTimeSlot(data) {
      const bookedTimeSlotElement = document.createElement('tr');
      const timeTd = document.createElement('td');
      timeTd.textContent = data.time;
      const nameTd = document.createElement('td');
      nameTd.textContent = data.name;
      const emailTd = document.createElement('td');
      emailTd.textContent = data.email;
      const meetLinkTd = document.createElement('td');
      const meetLink = generateMeetLink();
      meetLinkTd.textContent = meetLink;
      bookedTimeSlotElement.appendChild(timeTd);
      bookedTimeSlotElement.appendChild(nameTd);
      bookedTimeSlotElement.appendChild(emailTd);
      bookedTimeSlotElement.appendChild(meetLinkTd);

      const deleteButtonTd = document.createElement('td');
      const deleteButton = document.createElement('button');
      deleteButton.textContent = 'Cancel';
      deleteButton.className = 'delete-button';
      deleteButton.addEventListener('click', () => {
        // Send a DELETE request to the server to cancel the booking
        fetch(`/api/cancel-booking/${data.id}`, {
          method: 'DELETE',
        })
          .then(response => response.json())
          .then(data => {
            console.log(data);
            // Remove the booked time slot from the table
            bookedTimeSlotElement.remove();
            const timeSlot = timeSlots.find(timeSlot => timeSlot.time === data.time);
            timeSlot.availableSlots++;
            const availableSlotsLink = document.querySelector(`a.available-slot-link[textContent="${data.time}"]`);
            availableSlotsLink.textContent = `${timeSlot.availableSlots} slots available`;

          })
          .catch(error => console.error(error));
      });
      deleteButtonTd.appendChild(deleteButton);
      bookedTimeSlotElement.appendChild(deleteButtonTd);
      const bookedTimeSlotTableBody = document.getElementById('booked-time-slots-tbody');
      bookedTimeSlotTableBody.appendChild(bookedTimeSlotElement);
    }
    document.getElementById('booking-form').addEventListener('submit', handleSubmit);
  </script>
</body>

</html>
